@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="header">
    <h2>{{about}}</h2>
    <h3>{{message}}</h3>
</div>
<p>Use this area to provide additional information.</p>
