@{
    ViewBag.Title = "Reset password confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Your password has been reset. Please 
        <a ng-href="~/Account/Login"> Click Here To Log In </a>
    </p>
</div>
