@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <div class="form-horizontal" ng-controller="createmoviecontroller">
    <h2>{{movieHeader}}</h2>
    <hr />
    <div class="form-group">
        <label>
            Title:
            <input type="text" ng-model="formModel.Title"  class="form-control" required>
        </label>
    </div>

    <div class="form-group">
        <label>
            Release Date:
            <input type="text" ng-model="formModel.ReleaseDate" class="form-control" required>
        </label>
    </div>

    <div class="form-group">
        <label>
            Genre:
            <input type="text" ng-model="formModel.Genre"  class="form-control" required>
        </label>
    </div>

    <div class="form-group">
        <label>
            Price:
            <input type="text" ng-model="formModel.Price"  class="form-control" required>
        </label>
    </div>

    <div class="form-group">
        <label>
            Rating:
            <input type="text" ng-model="formModel.Rating"class="form-control" required>
        </label>
    </div>

  


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" ng-click="createMovie(movie)" class="btn btn-success"> Submit </button>
                <a ng-href="~/Movies/" class="btn btn success">Back To List</a>
            </div>
        </div>
</div>

   




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
