

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div ng-controller="moviedetailcontroller">
    <h2>{{detailHeader}}</h2>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Title:
        </dt>

      <dd> {{moviedetailList.Title}}</dd>

        <dt>
            Release Date:
        </dt>

        <dd>{{moviedetailList.ReleaseDate}}</dd>

        <dt>
            Genre:
        </dt>

        <dd>{{moviedetailList.Genre}}</dd>

        <dt>
           Price:
        </dt>

        <dd>{{moviedetailList.Price}}</dd>

        <dt>
            Rating:
        </dt>

        <dd>{{moviedetailList.Rating}}</dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
