

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div ng-controller="moviedetailcontroller">
    <h2>{{detailHeader}}</h2>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Title:
        </dt>

        <dd>
           @*//Angular*@

            {{moviedetailList[0].Title}}
            
            
          
        </dd>

        <dt>
            Release Date:
        </dt>

        <dd>
            @*//Angular*@
        </dd>

        <dt>
            Genre:
        </dt>

        <dd>
            @*//Angular*@
        </dd>

        <dt>
           Price:
        </dt>

        <dd>
            @*//Angular*@
        </dd>

        <dt>
            Rating:
        </dt>

        <dd>
            @*//Angular*@
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
