@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


    
    <div class="form-horizontal" ng-controller="movieeditcontroller">
        <h2>{{editHeader}}</h2>
        <hr />
        <div class="form-group">
            <label>
                Title:
                <input type="text" value="{{movieEditList.Title}}"class="form-control" required>
            </label>
       </div>

        <div class="form-group">
            <label>
                Release Date:
                <input type="text"  value="{{movieEditList.ReleaseDate}}"class="form-control" required>
            </label>  
        </div>

        <div class="form-group">
            <label>
                Genre:
                <input type="text"  value="{{movieEditList.Genre}}"class="form-control" required>
            </label>  
        </div>

        <div class="form-group">
            <label>
                Price:
                <input type="text"  value="{{movieEditList.Price}}"class="form-control" required>
            </label>    
        </div>

        <div class="form-group">
           <label>
               Rating:
               <input type="text"  value="{{movieEditList.Rating}}"class="form-control" required>
            </label>   
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>


<div>
    
    <a ng-href="~/Movies/">Back To List</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
